@using GameStore.WebUI.Models
@using GameStore.WebUI.HtmlHelpers
@model GamesListViewModel


@{
    ViewBag.Title = "Store";
}

@foreach (var game in @Model.Games)
{
    @Html.Partial("GameSummary", game)
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory }))
</div>
